@keyframes letters-bar {
    from {
        background: 0 0 / auto 70% no-repeat linear-gradient(white, white), 0 0 / 113px 113px repeat
            repeating-linear-gradient(-45deg,
                red 0 20px, white 20px 40px, 
                blue 40px 60px, white 60px 80px
            );
    }
    to {
        background: 0 0 / auto 70% no-repeat linear-gradient(white, white), 113px 0px / 113px 113px repeat
            repeating-linear-gradient(-45deg, 
                red 0 20px, white 20px 40px, 
                blue 40px 60px, white 60px 80px
            );
    }
}

@keyframes wrapping-paper-bar {
    from {
        background: 0 0 / 113px 113px repeat repeating-linear-gradient(-45deg,
                rgb(255, 76, 76) 0 10px,
                rgb(255, 255, 255) 10px 20px,
                rgb(65, 255, 95) 20px 30px,
                rgb(255, 255, 255) 30px 40px
            );
    }
    to {
        background: 113px 0 / 113px 113px repeat repeating-linear-gradient(-45deg,
                rgb(255, 76, 76) 0 10px,
                rgb(255, 255, 255) 10px 20px,
                rgb(65, 255, 95) 20px 30px,
                rgb(255, 255, 255) 30px 40px
            );
    }
}

@keyframes ribbon-bar {
    from {
        background: 0 0 / 114px 114px repeat repeating-linear-gradient(-45deg,
                darkred 0 10px,
                #af0000 10px 20px
            );
    }
    to {
        background: 114px 0px / 114px 114px repeat repeating-linear-gradient(-45deg, 
                darkred 0 10px,
                #af0000 10px 20px
            );
    }
}

@keyframes toys-bar {
    from {
        background: 0 0 / 114px 114px repeat repeating-linear-gradient(-45deg,
                #4bdc13 0 10px,
                green 10px 20px
            );
    }
    to {
        background: 114px 0px / 114px 114px repeat repeating-linear-gradient(-45deg, 
                #4bdc13 0 10px,
                green 10px 20px
            );
    }
}

@keyframes factory-bar {
    from {
        background: 0 0 / 114px 114px repeat repeating-linear-gradient(-45deg,
                grey 0 10px,
                yellow 10px 20px
            );
    }
    to {
        background: 114px 0px / 114px 114px repeat repeating-linear-gradient(-45deg, 
                grey 0 10px,
                yellow 10px 20px
            );
    }
}
@keyframes reindeer-bar {
    from {
        background: 0 0 / 28px 28px repeat
            repeating-linear-gradient(-45deg, brown 0 10px, saddlebrown 10px 20px);
    }
    to {
        background: 28px 0px / 28px 28px repeat
            repeating-linear-gradient(-45deg, brown 0 10px, saddlebrown 10px 20px);
    }
}
