.factory-tabs {
    position: absolute !important;
    top: 0;
    bottom: -6px;
    left: 0;
    right: 0;
    border: 0px solid var(--outline);

}

.factory-tabs > :nth-child(2) {
    margin-top: 60px !important;
}


.energy-bar .overlayText {
    display: inline-block;
    padding: 5px 10px;
    background: var(--raised-background);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 5px black;
}


.factory-container {
    width: auto;
    top: 113px;
    bottom: 0;
    left: 0px;
    right: 0px;
    position: absolute;
    background-color: var(--raised-background);
    overflow: hidden;
}

.info-container {
    position: absolute;
    width: max-content;
    max-width: 300px;

    margin: 20px 0 10px 10px;
    padding: 5px 10px;

    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 5px black;

    text-align: left;
    font-size: smaller;

    pointer-events: none;
    transition: height .3s;

    pointer-events: none;
    user-select: none;

    z-index: 2;
}

.controls-container {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 0;
    padding: 10px;
    height: max-content;
    background: var(--background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0 1px 5px #0007;
    display: flex;
}
.control-btn {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}

.comp-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 148px;
    z-index: 1;
}

.comp-info {
    position: absolute;
    right: 10px;
    padding: 5px 10px;

    width: max-content;
    max-width: 300px;

    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 5px #0007;

    text-align: left;
    font-size: smaller;

    pointer-events: none;
    transition: transform 0.3s;

    z-index: -1;
}
.comp-info.active {
    transform: translateX(calc(20px + 100%));
}

.comp-list {
    width: 100%;
    height: 100%;
    display: flex;
    border-right: solid 2px var(--locked);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    background: var(--raised-background);
}
.comp-list::before {
    content: "";
    display: block;
    position: absolute;
    top: 140px;
    height: 2px;
    left: 10px;
    right: 10px;
    background-color: var(--foreground);
}
.comp-list > img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px;
}
.comp-list > img.selected {
    transform: translate(-5px, -5px);
    filter: drop-shadow(2px 2px 0 var(--foreground)) drop-shadow(5px 5px 5px #0007);
}
