@keyframes focused-focus-bar {
    from {
        background: 0 0 / 28px 28px repeat
            repeating-linear-gradient(-45deg, red 0 10px, green 10px 20px);
    }
    to {
        background: 28px 0px / 28px 28px repeat
            repeating-linear-gradient(-45deg, red 0 10px, green 10px 20px);
    }
}

@keyframes focused-xp-bar {
    from {
        background: 0 0 / 28px 28px repeat
            repeating-linear-gradient(-45deg, yellow 0 10px, lime 10px 20px);
    }
    to {
        background: 28px 0px / 28px 28px repeat
            repeating-linear-gradient(-45deg, yellow 0 10px, lime 10px 20px);
    }
}
