.routes-list {
    width: 600px;
    height: 573px;
    margin-bottom: -604px;
    margin-top: -4px;
    padding-top: 35px;
    pointer-events: none;
    border-radius: var(--border-radius);
    background: var(--raised-background);
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}

.routes-list .checked {
    color: var(--bought);
}

.routes-list .processing {
    color: var(--layer-color);
}

.routes-list .redundant:not(.checked):not(.processing) {
    color: var(--accent1);
}

.routes-list .skipped {
    text-decoration: line-through;
    text-decoration-thickness: 5px;
}

.routes-list > * {
    position: relative;
    --opacity: 1;
    flex: 1 1 33%;
    opacity: var(--opacity);
    transition: all 0s;
}
.routes-list + div {
    position: relative;
}
