:root {
    color-scheme: dark;
}

* {
	transition-duration: 0.5s;
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	margin: auto;
	text-size-adjust: none;
}

*:focus {
	outline: none;
}

body {
	overflow: hidden;
	transition: none;
	text-align: center;
}

html, body, #app {
	min-height: 100%;
	height: 100%;
}

h1, h2, h3, b, input {
	display: inline;
}

button {
	color: black;
}

a,
.button,
.link {
	display: block;
	color: var(--link);
	background: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

a:hover,
.button:hover,
.link:hover {
	text-shadow: 5px 0 10px var(--link),
		-3px 0 12px var(--link);
}

.button:disabled {
	opacity: .5;
	cursor: not-allowed;
}
.button:disabled:hover {
	text-shadow: none;
}

ul {
	list-style-type: none;
}

.Vue-Toastification__toast {
	margin: unset;
}

/* Scrollbar stuff */

* {
	scrollbar-color: var(--accent1) #ffffff0f;
}

::-webkit-scrollbar {
	appearance: none;
    width: 16px;
    height: 16px;
	background-color: #ffffff0f;
}
::-webkit-scrollbar-thumb {
	--back-color: var(--accent1);
    background: linear-gradient(90deg, var(--back-color), var(--back-color)) no-repeat content-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
    --back-color: var(--foreground);
}
::-webkit-scrollbar-button:single-button {
	--back-color: transparent;
	--arrow-color: var(--accent1);
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-button:single-button:hover {
	--back-color: #ffffff0f;
    --arrow-color: var(--foreground);
}
::-webkit-scrollbar-button:single-button:active {
    --back-color: var(--foreground);
    --arrow-color: var(--background);
}
::-webkit-scrollbar-button:single-button:disabled {
    --arrow-color: var(--foreground);
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: 
        conic-gradient(#0000 37.5%, var(--arrow-color) 37.5% 62.5%, #0000 62.5%) no-repeat content-box,
        linear-gradient(90deg, var(--back-color), var(--back-color)) no-repeat content-box;
    background-size: 60% 50%, 100% 100%;
    background-position: 50% 20%, 0% 0%;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
    background: 
        conic-gradient(var(--arrow-color) 12.5%, #0000 12.5% 87.5%, var(--arrow-color) 87.5%) no-repeat content-box,
        linear-gradient(90deg, var(--back-color), var(--back-color)) no-repeat content-box;
    background-size: 60% 50%, 100% 100%;
    background-position: 50% 80%, 0% 0%;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background: 
        conic-gradient(#0000 12.5%, var(--arrow-color) 12.5% 37.5%, #0000 37.5%) no-repeat content-box,
        linear-gradient(90deg, var(--back-color), var(--back-color)) no-repeat content-box;
    background-size: 50% 60%, 100% 100%;
    background-position: 20% 50%, 0% 0%;
}
::-webkit-scrollbar-button:single-button:horizontal:increment {
    background: 
        conic-gradient(#0000 62.5%, var(--arrow-color) 62.5% 87.5%, #0000 87.5%) no-repeat content-box,
        linear-gradient(90deg, var(--back-color), var(--back-color)) no-repeat content-box;
    background-size: 50% 60%, 100% 100%;
    background-position: 80% 50%, 0% 0%;
}

::-webkit-scrollbar-corner {
    background: #070710;
}

.goBack {
    position: sticky;
    top: 10px;
    left: 10px;
    line-height: 30px;
    margin-top: -50px;
    margin-left: -35px;
    border: none;
    background: var(--background);
    box-shadow: var(--background) 0 2px 3px 5px;
    border-radius: 50%;
    color: var(--foreground);
    font-size: 30px;
    cursor: pointer;
    z-index: 7;
}

.goBack:hover {
    transform: scale(1.1, 1.1);
    text-shadow: 0 0 7px var(--foreground);
}
.layer-container {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    flex-grow: 1;
    display: flex;
    isolation: isolate;
}